<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/framework.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>

        <div id="app">

            <!-- LEFT SIDE -->
            <div id="left-side">

                <!-- My Profile -->
                <section id="my-profile">

                    <div id="profile-info">
                        <img src="img/io.png" class="profile-picture" alt="">
                        <p class="profile-name">Michele</p>
                    </div>

                    <div id="profile-settings">
                        <i class="icons fa-solid fa-circle-notch"></i>
                        <i class="icons fa-solid fa-message"></i>
                        <i class="icons fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </section>

                <!-- Notifications -->
                <section id="notification">
                    <i id="notification-icon" class="fa-solid fa-bell-slash"></i>
                    <div id="notifications-info-container">
                        <p id="notifications-info">Ricevi notifiche di nuovi messaggi</p>
                        <p id="activate-notifications">Attiva notifiche desktop</p>
                    </div>
                </section>

                <!-- Search Chat -->
                <section id="search-chat-container">
                    <i id="search-chat-icon" class="fa-solid fa-magnifying-glass"></i>
                    <input id="search-chat" type="text" placeholder="Cerca o inizia una nuova chat">
                </section>

                <!-- My Chats -->
                <section id="my-chats">
                    <ul>
                        <li class="chat-container" v-for="contact in contacts"  @click="selectedContact = contact">
                            <img class="profile-picture" :src="contact.avatar" alt=""> 
                            <div class="chat-info">
                                {{contact.name}}
                                <p>ultimo messaggio</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>

            <!-- RIGHT SIDE -->
            <div id="right-side">

                <!-- Upper Bar -->
                <section id="upper-bar">
                    <div id="upper-bar-left">
                        <img class="profile-picture" src="img/avatar_1.png" alt=""> 
                        <div id="user-info">
                            <p id="user-name">Linda</p>
                            <p id="user-access">ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>
                    
                    <div id="upper-bar-right">
                        <i class="icons fa-solid fa-magnifying-glass"></i>
                        <i class="icons fa-solid fa-paperclip"></i>
                        <i class="icons fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </section>

                <!-- Main Screen -->
                <section id="main-screen">
                    <div v-if="selectedContact !== null">
                        <div v-for="message in selectedContact.messages" >
                            <p :class="['message', 'col-10', message.status, {'col-offset-2': message.status === 'sent'}]">{{ message.message }}</p>
                        </div>
                    </div>
                </section>

                <!-- Bottom Bar -->
                <section id="bottom-bar">
                    <i class="chat-icon fa-regular fa-face-smile"></i>
                    <input id="type-input" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="submit">
                    <i class="chat-icon fa-solid fa-microphone"></i>
                </section>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>

